body{
	background-color:peachpuff;
	align-items: center;
}

.flex-container{
	display: flex;
	flex-direction: row;

}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  background-color:pink;
  position: static;
}

  .circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #000
}

.flex-container:hover{
	color: darkblue;
}



